*, *:before, *:after {
  box-sizing: border-box;
}
@desktop-tablet: ~"only screen and (min-width: 720px)";
@mobile:  ~"only screen and (min-width: 320px) and (max-width: 719px)";

.container{
  background-color: #eaeaea;
  height: 100%;
  header{
    background-color: rgba(50,50,50, 1);
    padding: 5px 10px;
    color: #fff;
    h2{margin:0; padding: 0;}
  }
  .app{
    .empty{
      border-top: 1px solid #f0f0f0;
      text-align: center;
      padding: 50px 0;
    }
    background-color:#fff;
    margin: 20px 5px;
    .cart-header{
      padding: 16px 31px 0 25px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      min-height: 47px;
    }
    .cart-item{
      border-top: 1px solid #f0f0f0;
      padding: 20px;
      clear: both;
      overflow: hidden;
      .cart-box{
        float: left;
        width: 110px;
        .counter{
          text-align: center;
          margin-top: 10px;
          button{
            width: 28px;
            height: 28px;
            background: linear-gradient(#fff,#f9f9f9);
            border: 1px solid #c2c2c2;
            color: #666;
            cursor: pointer;
            font-size: 16px;
            border-radius: 50%;
            padding-top: 1px;
            line-height: 1;
          }
          span{
            padding: 0 18px;
            color: #666;
          }
        }
      }
      .cart-desc{
        .product-name{
          font-size: 16px;
          color: #212121;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .product-desc{
          display: block;
          color: #878787;
          font-size: 12px;
          margin-top: 5px;
        }
        .product-price{
          font-size: 20px;
          margin-top: 10px;
        }
        .remove-product{
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          margin-top: 15px;
        }
      }
    }
    .cart-footer{
      button{
        text-transform: uppercase;
        padding: 15px 30px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
        font-size: 16px;
        font-weight: 500;
        border: none;
        &.shop{
          background-color: #f9f9f9;
          color: #212121;
        }
        &.order{
          background: #fb641b;
          box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
          color: #fff;
        }
      }
    }
  }
}

@media @desktop-tablet{
  .app{
    .cart-content{
      .cart-desc{
        margin-left: 140px;
      }
    .cart-footer{
        padding: 16px 23px;
        background: #fff;
        border-top: 1px solid #f0f0f0;
        box-shadow: 0 -2px 10px 0 rgba(0,0,0,.1);
        button{
          margin-right: 6px;
          min-width: 250px;
          border-radius: 2px;
          &.shop{
            margin-right: 16px;
          }
          &.order{

          }
        }
      }
    }
  }
}
@media @mobile {
  .app{
    .cart-footer{
      position: fixed;
      bottom: 0;
      left: 0 ;
      right: 0;
      button{
        margin: 0;
        &.shop{
          width: 55%;
          margin: 0;
          &.full {
            width: 100%;
          }
        }
        &.order{
          width: 45%;
          margin: 0;
        }
      }
    }
  }
}
